<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="toolbar" class="btn-group">
    <button id="btn_add" type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"><a href="/gotoAdd.do">留言新增</a></span>
    </button>
</div>

<div class="table table-bordered">
    <table class="table table-hover table-bordered" id="table">
        <tr>
            <th>编号</th>
            <th >id</th>
            <th>name</th>
            <th>message</th>
            <th>time</th>
            <td class="s_top" colspan="2">操作</td>
        </tr>
        <% for(var i = 0; i <message.length ; i++) {%>
        <tr>
            <td><input type="checkbox" id="inlineCheckbox1" value="option1"></td>
            <td><%=i+1%></td>
            <td id="id"><%=message[i]._id%></td>
            <td><%=message[i].name%></td>
            <td><%=message[i].message%></td>
            <td><%=message[i].sj%></td>
            <td> <button type="button" class="btn btn-info"  onclick="update(this)">编辑</button></td>
            <td> <button type="button" class="btn btn btn-danger"  onclick="del(this)">删除</button></td>

        </tr>
        <% }%>
    </table>
</div>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
<script>
function update(btn) {
    alert("第一个单元格的值："+btn.parentNode.parentNode.firstChild.nextSibling.textContent);
    alert("第一个单元格的值,方法二："+btn.parentNode.parentNode.cells[0].innerHTML);
    alert("第二个单元格的值："+btn.parentNode.parentNode.firstChild.nextSibling.nextSibling.nextSibling.textContent);
    alert("第二个单元格的值,方法二："+btn.parentNode.parentNode.cells[1].innerHTML);
}
</script>
</html>